/**************
** Side Pane **
**************/

.pane {
  z-index: 1000;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 408px;
  background: #f1f1f1;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5);
}

.pane-collapsed {
  box-shadow: none;
  transform: translateX(-408px);
}

.pane-content {
  z-index: 10;
  position: absolute;
  left: 10px;
  right: 10px;
  padding: 10px 20px 10px 10px;
}

#pane-toggle-button-container {
  position: absolute;
  top: 8px;
  left: 100%;
}

#pane-toggle-button {
  z-index: -1;
  width: 23px;
  height: 48px;
  cursor: pointer;
  border-left: 1px solid #D4D4D4;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
}


/*************
** Panorama **
**************/

#pano {
  width: 350px;
  height: 150px;
  position: relative;
  z-index: 1000;
}

/*********
** Map **
*********/

#map-container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

#my-map {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/************
**  Layers **
*************/

.leaflet-control-layers-expanded {
  /*content: "Key Stakeholders";*/
  background: #FFF;
  padding: 12px;
  margin-left: 15px;
  font-family: 'Roboto Condensed', monospace, sans-serif;
  border-radius:10px;
  border-style: dashed;
  border-width: 2px ;
  border-color: black;
  text-align: left;
  font-size: 12px;
  opacity: 0.9;
  font-weight: 400;
}

.circleMarker:hover{
  border-style: dashed;
  border-color: black;
  border-width: 2px ;
}

/**********
** Popup **
***********/
/* .leaflet-popup-content-wrapper {
    font-family: 'Roboto Condensed', monospace, sans-serif;
    font-size: 12px;
    border-color: black;
    border-width: 2px ;
} */

/***********
** Legend **
************/

#title-box {
  width: 200px;
  position: absolute;
  z-index: 1000;
  bottom: 10px;
  right: 10px;
  background: #FFF;
  padding: 15px;
  border-radius: 7px;
  opacity: 0.8;
  font-family: 'Roboto Condensed', sans-serif;
  color:black;
  border-radius:10px;
  border-style: solid;
  border-width: 2px ;
  border-color: black;
  text-align: left;
}

#legend {
  width:150px;
  float: right;
  background: #e6e6e6;
  padding: 12px;
  margin-left: 15px;
  font-family: 'Roboto Condensed', sans-serif;
  color:black;
  border-radius:10px;
  border-style: dashed;
  border-width: 2px ;
  border-color: grey;
  text-align: left;
  font-size: 12px;
}

#legend:hover {
  border-style: solid;
  border-color: black;
  border-width: 2px ;`
}

.legendItem {
}

.legendItem::before {
  content: '';
  display: inline-block;
  width: 12px;
  height: 12px;
  -moz-border-radius: 7.5px;
  -webkit-border-radius: 7.5px;
  border-radius: 16.5px;
  position: relative;
  top: 4px;
  margin-right: 5px;
  font-size: 10px;
}

.vacant::before {
  background-color: #e80000;
  border-color: black;
}
.cgarden::before {
  background-color: #157a03;
  border-color: black;
}
.cds::before {
  background-color: white;
  fill-Opacity: 0.1;
  border-style: dashed;
  border-color: black;
  border-width: 1.5px ;

}

/**********
** Texts **
***********/
body{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
  text-align: center;
  color: black;
  /*font-weight: 200;*/
}
h1{
  font-size: 15px;
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0;
}
h3{
  font-size: 15px;
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0;
}

/************
** Buttons **
*************/
button {
  outline: none;
  padding: 6px;
  border-style: solid;
  border-width: 1px ;
  border-color: black;
  background-color: white;
  border-radius: 15px;
  font-family: 'Roboto Condensed', sans-serif;
}

button:hover {
    border-style: dashed;
    border-width: 2px ;
}

/************
** Links **
*************/
/* unvisited link */
a:link {
    color: black;
    text-decoration: none;
    font-weight: 800;
}
/* visited link */
a:visited {
    color: black;
    font-weight: 800;
}
/* mouse over link */
a:hover {
    color: black;
    font-weight: 800;
    text-decoration: underline;
}
/* selected link */
a:active {
    color: white;
    font-weight: 200;
    }
